.pwa-install-prompt {
    font-family: 'Inter', sans-serif;
    animation: slideUp 0.3s ease-out;
}
@keyframes slideUp {
    from { transform: translate(-50%, 100%); opacity: 0; }
    to { transform: translate(-50%, 0); opacity: 1; }
}
.pwa-install-prompt button:hover {
    opacity: 0.9;
}




.pwa-install-prompt {
   position: fixed; 
   bottom: 20px; 
   left: 50%; 
   transform: translateX(-50%); 
   background: #1a1a1a;
   color: white;
    padding: 15px 25px; 
   border-radius: 8px; box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 1000;
  display: flex;
  align-items: center; gap: 12px;
  justify-content: space-between;
}
.pwa-install-prompt img{
  background-color: white;
  padding: 5px;
  border-radius: 7px;
}

.close-install-btn{
  background: none;
  color: white;
   border: none;
    padding: 8px;
     cursor: pointer;
   opacity: 0.5;
}
@media(max-width:700px){
  .pwa-install-prompt{
    width: 100%;
    padding: 5px 10px;
  }
}